
:root {
  --blue: #6200EE;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.primary {
  background-color: #6200EE;
}

.usernameBox {
  width: 300;
}

.usernameBox input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px;
  border-color: var(--blue);
}

.usernameBox button {
  background: var(--blue);
  color: white;
  width: 100%;
  border: 8px;
}
.messageBox {
  text-align: left;
  width: 80vw;
  max-width: 600px;
}

.chatBox {
  width: 100%;
  height: 50vh;
  border: 2px solid var(--blue);
}

.userInput {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  padding: 8px;
  border-color: var(--blue);
  padding-left: 40px;
}
.sendButton {
  margin-top: 10px;
  background: var(--blue);
  color: white;
  width: 100%;
  border: 8px;
}

.inputIcon {
  float: left;
  margin-top: -33px;
  margin-left: 10px;
  position: relative;
  z-index: 2;
  font-size: 25px;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  padding: 10px;
}

.messageContainer button {
  width: 60%;
}

.passwordInput {
  width: 60%;
}

.messageContent {
  width: 60%;
  text-align: center;
}

.messageContent  input{
  width: 80%;
}

.m-left {
  margin-left: 10px;
}

.error {
  color: red;
}